alias grep="grep --color"

# Make some of the file manipulation programs verbose
alias rm='rm -i'
alias cp='cp -v'
alias mv='mv -v'

# clear with c
alias c='clear'

# MSU CSE and EGR server shortcuts
alias sshb='ssh freedm28@black.cse.msu.edu'
alias ssha='ssh freedm28@arctic.cse.msu.edu'
alias sshegr='ssh freedm28@scully.egr.msu.edu'

alias gh="hub browse"

alias brewup='brew update; brew upgrade; brew cask upgrade; brew prune; brew cleanup; brew cask cleanup; brew doctor'

alias diff="colordiff"

alias gcm='git checkout master'

alias weather='curl https://wttr.in'
